<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>About Us</title>
    <link rel="shortcut icon" href="/image/favicon.png" type="image/x-icon" />
    <!-- Primary Meta Tags -->
    <meta name="title" content="CCA iGEM Summer Camp | Join Today!" />
    <meta
      name="description"
      content="Learn biology, synthetic biology, chemistry, and forensics at a high school level, now in-person for summer 2022!"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.ccaigemcamp.com" />
    <meta property="og:title" content="CCA iGEM Summer Camp | Join Today!" />
    <meta
      property="og:description"
      content="Learn biology, synthetic biology, chemistry, and forensics at a high school level, now in-person for summer 2022!"
    />
    <meta property="og:image" content="https://i.imgur.com/rpTzzTe.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="www.ccaigemcamp.com" />
    <meta property="twitter:title" content="CCA iGEM Summer Camp | Join Today!" />
    <meta
      property="twitter:description"
      content="Learn biology, synthetic biology, chemistry, and forensics at a high school level, now in-person for summer 2022!"
    />
    <meta property="twitter:image" content="https://i.imgur.com/rpTzzTe.png" />

    <!-- Bootstrap , fonts & icons  -->
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/fonts/typo.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;700;900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap" rel="stylesheet" />
    <!-- Plugin'stylesheets  -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->

    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body data-theme-mode-panel-active data-theme="light" style="font-family: 'Mazzard H'">
    <div class="site-wrapper overflow-hidden position-relative">
      <!-- Site Header -->
      <div id="loading">
        <div class="preloader">
          <img src="/image/preloader.gif" alt="preloader" />
        </div>
      </div>
      <!--Site Header Area -->
      <header class="site-header site-header--menu-right landing-14-menu site-header--absolute site-header--sticky">
        <div class="container">
          <nav class="navbar site-navbar">
            <!-- Brand Logo-->
            <div class="brand-logo">
              <a href="/">
                <img src="/image/logo/logo-black-1.png" class="light-version-logo" />
              </a>
            </div>
            <div class="menu-block-wrapper">
              <div class="menu-overlay"></div>
              <nav class="menu-block" id="append-menu-header">
                <div class="mobile-menu-head">
                  <div class="go-back">
                    <i class="fa fa-angle-left"></i>
                  </div>
                  <div class="current-menu-title"></div>
                  <div class="mobile-menu-close">&times;</div>
                </div>
                <ul class="site-menu-main">
                  <li class="nav-item">
                    <a href="/camp-info" class="nav-link-item">Camp Information</a>
                  </li>
                  <li class="nav-item">
                    <a href="/about" class="nav-link-item">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a href="https://gofund.me/8b23fc16" class="nav-link-item">Support</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="header-btn header-btn-l-14 ms-auto d-none d-xs-inline-flex">
              <a
                target="_blank"
                class="btn btn trail-btn focus-reset"
                href="https://docs.google.com/forms/d/1S0Yvdufq8JCyBas6W0HmJXjTsdbe69OfWhyquYiT1Xk/edit"
                >Get Started</a
              >
            </div>
            <!-- mobile menu trigger -->
            <div class="mobile-menu-trigger">
              <span></span>
            </div>
            <!--/.Mobile Menu Hamburger Ends-->
          </nav>
        </div>
      </header>
      <!-- navbar- -->
      <!-- Hero Area -->
      <!-- <div class="hero-area-l-14 position-relative z-index-1 overflow-hidden">
        <div class="container">
          <div class="row position-relative justify-content-center">
            <div
              class="col-xl-5 col-lg-6 col-md-8 col-sm-10 pr-0"
              data-aos="fade-right"
              data-aos-duration="800"
              data-aos-once="true"
            >
              <div class="content">
                <h1>About Us</h1>
                <p>
                  Learn biology, synthetic biology, chemistry, and forensics at a high school level, now in-person for summer
                  2022!
                </p>
                <a href="#" class="btn focus-reset">Register Now</a>
              </div>
            </div>
            <div class="col-xl-7 col-lg-5 col-md-8" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
              <div class="banner-image-l-14">
                <img src="/image/l4/hero-img-1.png" alt="" class="w-100 mt-xl-n10" />
              </div>
            </div>
          </div>
        </div>
        <div class="bg-shape-14"></div>
      </div>
      <div class="py-4"></div> -->
      <div class="pt-24 pt-md-26 pt-lg-30 pb-12 pb-md-16 pb-lg-24">
        <div class="container">
          <!-- Section Padding -->
          <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-11">
              <div class="text-center mb-11 mb-lg-24" data-aos="zoom-in" data-aos-duration="500" data-aos-once="true">
                <h2 class="font-size-11 mb-5">About us</h2>
                <p class="font-size-7 mb-0">
                  We are a Synthetic Biology club based in Canyon Crest Academy. Read more about our accomplishments and why we
                  are qualified to host this camp!
                </p>
              </div>
            </div>
          </div>
          <!-- End Section Padding -->
        </div>

        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="rounded-8" data-aos="fade-up" data-aos-duration="800" data-aos-once="true">
                <img class="w-100" src="/image/l4/team.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pb-11 pb-md-15 pb-lg-27">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-sm-9">
              <div class="text-center mb-13 mb-lg-16" data-aos="zoom-in" data-aos-duration="500" data-aos-once="true">
                <h2 class="font-size-10 mb-0 letter-spacing-n83">About CCA iGEM</h2>
              </div>
            </div>
          </div>
          <div class="row align-items-center justify-content-center">
            <!-- Right -->
            <div class="col-xl-5 col-lg-5 col-md-5 col-xs-10">
              <div class="about-content-image-group-1 mb-8 mb-lg-0 mr-lg-4">
                <div class="img-1">
                  <img
                    class="w-100 rounded-10"
                    src="/image/masonry/First Gel.jpg"
                    alt=""
                    data-aos="fade-right"
                    data-aos-duration="600"
                    data-aos-once="true"
                  />
                  <div class="img-2 z-index-n1 mt-n13">
                    <img
                      class="w-100"
                      src="/image/l4/dot-pattern-black.png"
                      alt=""
                      data-aos="fade-right"
                      data-aos-duration="500"
                      data-aos-once="true"
                    />
                  </div>
                </div>
              </div>
            </div>
            <!-- Right -->
            <!-- Left -->
            <div class="col-xl-6 col-lg-7 col-md-7 col-xs-10">
              <div class="mx-lg-14 mx-xl-14" data-aos="fade-left" data-aos-duration="600" data-aos-once="true">
                <p class="heading-default-color font-size-6 mb-4 mb-lg-9">
                  iGEM, short for International Genetically Engineered Machine, is a synthetic biology competition for high
                  schoolers, undergraduates, graduate students, and entrepreneurs, in which teams develop SynBio solutions to
                  problems in today’s society. Students work to display their leadership, interest in the community, inclusivity,
                  and entrepreneurship.
                </p>
                <p class="heading-default-color font-size-6 mb-5 mb-lg-13">
                  We focus a lot on our education. Last year, we ran iGEM camp and wrote a book about Biochemistry that we
                  published to Amazon, which won us the Best Education award. We also received a gold medal overall and were among
                  the top 10 high school teams internationally.
                </p>
                <div class="about-btn">
                  <a href="https://2021.igem.org/Team:CCA_San_Diego" class="btn"
                    >Visit the 2021 wiki
                    <i class="fas fa-angle-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="footer-area-l-12 position-relative">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-7 col-md-11 pl-lg-6" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
              <div class="row">
                <div class="col-sm-3 col-xs-6">
                  <div class="footer-widget widget2">
                    <p>Help menu</p>
                    <ul class="widget-links pl-0 list-unstyled">
                      <li><a href="/camp-info">Camp Info</a></li>
                      <li><a href="/about">About Us</a></li>
                      <li><a href="https://gofund.me/8b23fc16">Support</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <div class="footer-widget widget3">
                    <ul class="widget-links pl-0 list-unstyled">
                      <li><a href="mailto:ccaigem2022@gmail.com">Contact </a></li>
                      <li><a href="">Privacy Policy</a></li>
                      <li><a href="">Terms & Conditions</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-5 col-xs-6 pl-lg-0">
                  <div class="footer-widget widget4">
                    <p class="widget-title">General</p>
                    <ul class="widget-links pl-0 list-unstyled">
                      <li><a>&copy; CCA iGEM 2022.</a></li>
                      <li>
                        <a href="https://instagram.com/cca.igem" style="padding-right: 3px" target="_blank">
                          <i class="fa-brands fa-instagram"></i
                        ></a>
                        <a href="mailto:ccaigem2022@gmail.com" target="_blank"> <i class="fa-regular fa-envelope"></i> </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-8 col-sm-11" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
              <div class="footer-subs-form-l-12">
                <p>Join our mailing list</p>
                <h6>Get the latest updates and announcements about our camp. No spam in your inbox.</h6>
                <form name="mailing-list" netlify>
                  <div class="input-group">
                    <input name="email" type="text" class="form-control" placeholder="Enter your email address" aria-label="" />
                    <div class="input-group-append">
                      <button class="btn border-0 focus-reset" type="submit">
                        <i class="fas fa-angle-right text-white"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="/plugins/menu/menu.js" type="module"></script>
    <script src="/js/index.js" type="module"></script>
  </body>
</html>
