<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Camp Information</title>
    <link rel="shortcut icon" href="/image/favicon.png" type="image/x-icon" />
    <!-- Primary Meta Tags -->
    <meta name="title" content="CCA iGEM Summer Camp | Join Today!" />
    <meta
      name="description"
      content="Learn biology, synthetic biology, chemistry, and forensics at a high school level, now in-person for summer 2022!"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.ccaigemcamp.com" />
    <meta property="og:title" content="CCA iGEM Summer Camp | Join Today!" />
    <meta
      property="og:description"
      content="Learn biology, synthetic biology, chemistry, and forensics at a high school level, now in-person for summer 2022!"
    />
    <meta property="og:image" content="https://i.imgur.com/rpTzzTe.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="www.ccaigemcamp.com" />
    <meta property="twitter:title" content="CCA iGEM Summer Camp | Join Today!" />
    <meta
      property="twitter:description"
      content="Learn biology, synthetic biology, chemistry, and forensics at a high school level, now in-person for summer 2022!"
    />
    <meta property="twitter:image" content="https://i.imgur.com/rpTzzTe.png" />

    <!-- Bootstrap , fonts & icons  -->
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/fonts/typo.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;700;900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap" rel="stylesheet" />
    <!-- Plugin'stylesheets  -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->

    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body data-theme-mode-panel-active data-theme="light" style="font-family: 'Mazzard H'">
    <div class="site-wrapper overflow-hidden position-relative">
      <!-- Site Header -->
      <div id="loading">
        <div class="preloader">
          <img src="/image/preloader.gif" alt="preloader" />
        </div>
      </div>
      <!--Site Header Area -->
      <header class="site-header site-header--menu-right landing-14-menu site-header--absolute site-header--sticky">
        <div class="container">
          <nav class="navbar site-navbar">
            <!-- Brand Logo-->
            <div class="brand-logo">
              <a href="/">
                <img src="/image/logo/logo-black-1.png" class="light-version-logo" />
              </a>
            </div>
            <div class="menu-block-wrapper">
              <div class="menu-overlay"></div>
              <nav class="menu-block" id="append-menu-header">
                <div class="mobile-menu-head">
                  <div class="go-back">
                    <i class="fa fa-angle-left"></i>
                  </div>
                  <div class="current-menu-title"></div>
                  <div class="mobile-menu-close">&times;</div>
                </div>
                <ul class="site-menu-main">
                  <!-- <li class="nav-item nav-item-has-children">
                    <a href="#" class="nav-link-item drop-trigger">Dropdowns <i class="fas fa-angle-down"></i> </a>
                    <ul class="sub-menu" id="submenu-9">
                      <li class="sub-menu--item">
                        <a href="#">Dropdown 01</a>
                      </li>
                      <li class="sub-menu--item">
                        <a href="#">Dropdown 02</a>
                      </li>
                      <li class="sub-menu--item">
                        <a href="#">Dropdown 03</a>
                      </li>
                      <li class="sub-menu--item">
                        <a href="#">Dropdown 04</a>
                      </li>
                    </ul>
                  </li> -->

                  <li class="nav-item">
                    <a href="/camp-info" class="nav-link-item">Camp Information</a>
                  </li>
                  <li class="nav-item">
                    <a href="/about" class="nav-link-item">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a href="https://gofund.me/8b23fc16" class="nav-link-item">Support</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="header-btn header-btn-l-14 ms-auto d-none d-xs-inline-flex">
              <a
                target="_blank"
                class="btn btn trail-btn focus-reset"
                href="https://docs.google.com/forms/d/1S0Yvdufq8JCyBas6W0HmJXjTsdbe69OfWhyquYiT1Xk/edit"
                >Get Started</a
              >
            </div>
            <!-- mobile menu trigger -->
            <div class="mobile-menu-trigger">
              <span></span>
            </div>
            <!--/.Mobile Menu Hamburger Ends-->
          </nav>
        </div>
      </header>
      <!-- navbar- -->
      <!-- Hero Area -->
      <!-- <div class="hero-area-l-14 position-relative z-index-1 overflow-hidden">
        <div class="container">
          <div class="row position-relative justify-content-center">
            <div
              class="col-xl-5 col-lg-6 col-md-8 col-sm-10 pr-0"
              data-aos="fade-right"
              data-aos-duration="800"
              data-aos-once="true"
            >
              <div class="content">
                <h1>About Us</h1>
                <p>
                  Learn biology, synthetic biology, chemistry, and forensics at a high school level, now in-person for summer
                  2022!
                </p>
                <a href="#" class="btn focus-reset">Register Now</a>
              </div>
            </div>
            <div class="col-xl-7 col-lg-5 col-md-8" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
              <div class="banner-image-l-14">
                <img src="/image/l4/hero-img-1.png" alt="" class="w-100 mt-xl-n10" />
              </div>
            </div>
          </div>
        </div>
        <div class="bg-shape-14"></div>
      </div>
      <div class="py-4"></div> -->
      <div class="pt-24 pt-md-26 pt-lg-30">
        <div class="container">
          <!-- Section Padding -->
          <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-11">
              <div class="text-center mb-11 mb-lg-24" data-aos="zoom-in" data-aos-duration="500" data-aos-once="true">
                <h2 class="font-size-11 mb-5">Camp Information</h2>
                <p class="font-size-7 mb-0">
                  We aspire to provide an engaging and interactive experience for motivated students who are interested in
                  pursuing a STEM career. We are very excited to welcome you to our in-person camp this summer!
                </p>
              </div>
            </div>
          </div>
          <!-- End Section Padding -->
        </div>
      </div>
      <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
                Masonary Area 
    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-->
      <div class="pb-12 pb-md-16 pb-lg-24">
        <div class="masonary-gallery-wrapper">
          <div class="big-image">
            <div class="single-image" data-aos="zoom-in" data-aos-duration="100" data-aos-once="true">
              <span style="background-image: url(/image/masonry/unknown.png)"></span>
            </div>
          </div>
          <div class="small-images">
            <div class="single-image" data-aos="zoom-in" data-aos-duration="300" data-aos-once="true">
              <span style="background-image: url(/image/masonry/unknown-2.png)"></span>
            </div>
            <div class="single-image" data-aos="zoom-in" data-aos-duration="600" data-aos-once="true">
              <span style="background-image: url(/image/masonry/unknown-3.png)"></span>
            </div>
            <div class="single-image" data-aos="zoom-in" data-aos-duration="900" data-aos-once="true">
              <span style="background-image: url(/image/masonry/unknown-7.png)"></span>
            </div>
            <div class="single-image" data-aos="zoom-in" data-aos-duration="1200" data-aos-once="true">
              <span style="background-image: url(/image/masonry/unknown-5.png)"></span>
            </div>
            <div class="single-image" data-aos="zoom-in" data-aos-duration="1500" data-aos-once="true">
              <span style="background-image: url(/image/masonry/unknown-6.png)"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="pb-11 pb-md-15 pb-lg-27">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-sm-9">
              <div class="text-center mb-13 mb-lg-16" data-aos="zoom-in" data-aos-duration="500" data-aos-once="true">
                <h2 class="font-size-10 mb-0 letter-spacing-n83">About the Camp</h2>
              </div>
            </div>
          </div>
          <div class="row align-items-center justify-content-center">
            <!-- Right -->
            <div class="col-xl-5 col-lg-5 col-md-5 col-xs-10">
              <div class="about-content-image-group-1 mb-8 mb-lg-0 mr-lg-4">
                <div class="img-1">
                  <img
                    class="w-100 rounded-10"
                    src="/image/masonry/unknown-8.png"
                    alt=""
                    data-aos="fade-right"
                    data-aos-duration="600"
                    data-aos-once="true"
                  />
                  <div class="img-2 z-index-n1 mt-n13">
                    <img
                      class="w-100"
                      src="/image/l4/dot-pattern-black.png"
                      alt=""
                      data-aos="fade-right"
                      data-aos-duration="500"
                      data-aos-once="true"
                    />
                  </div>
                </div>
              </div>
            </div>
            <!-- Right -->
            <!-- Left -->
            <div class="col-xl-6 col-lg-7 col-md-7 col-xs-10">
              <div class="mx-lg-14 mx-xl-14" data-aos="fade-left" data-aos-duration="600" data-aos-once="true">
                <p class="heading-default-color font-size-6 mb-4 mb-lg-9">
                  This is the fifth annual science summer camp hosted by CCA’s iGEM team! We teach advanced pre-high school
                  students who are interested in pursuing a STEM career in the future, or want to explore different possible
                  career options. We are very excited for this year’s iGEM camp because it’s the first in-person camp in two
                  years. The past two had been online because of the pandemic.
                </p>
                <p class="heading-default-color font-size-6 mb-5 mb-lg-13">
                  Our camp will teach many different important science topics such as biology, synthetic biology, chemistry, and
                  forensics, as well as have daily labs that will reinforce what the students learned. The content we teach will
                  not only prepare students for high school-level courses such as biology and chemistry, but it will also help
                  their application should they wish to be a part of CCA’s iGEM team in high school.
                </p>
              </div>
            </div>
            <!-- Left End -->
          </div>
        </div>
      </div>
      <div class="pb-13 pb-md-18 pb-lg-25">
        <div class="container">
          <!-- Section Title -->
          <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9">
              <div class="text-center mb-13 mb-lg-19">
                <h2 class="font-size-9 mb-0">Logistics</h2>
              </div>
            </div>
          </div>
          <!-- End Section Title -->
          <!-- Faqs -->
          <!-- Faqs -->
          <div class="row justify-content-center">
            <!-- Single Faq -->
            <div class="col-lg-6 col-md-10">
              <div class="d-flex mb-10 mb-lg-17" data-aos="fade-up" data-aos-duration="300" data-aos-once="true">
                <div class="mr-6">
                  <div class="bg-light-orange circle-28 text-white mt-1">
                    <i class="fa fa-question"></i>
                  </div>
                </div>
                <div class="">
                  <h4 class="font-size-7 mb-7">When does the camp take place?</h4>
                  <p class="font-size-5 pr-md-10 pr-lg-0 mb-0">
                    We will be holding two sessions, one from June 13-17th, and one from August 1-5th. Daily times will be from 9
                    am to 2 pm, which includes a lunch and snack break.
                  </p>
                </div>
              </div>
            </div>
            <!-- End Single Faq -->
            <!-- Single Faq -->
            <div class="col-lg-6 col-md-10">
              <div class="d-flex mb-10 mb-lg-17" data-aos="fade-up" data-aos-duration="600" data-aos-once="true">
                <div class="mr-6">
                  <div class="bg-light-orange circle-28 text-white mt-1">
                    <i class="fa fa-question"></i>
                  </div>
                </div>
                <div class="">
                  <h4 class="font-size-7 mb-7">Where will the camp be held?</h4>
                  <p class="font-size-5 pr-md-10 pr-lg-0 mb-0">
                    We expect this year's camp to be held in-person at Canyon Crest Academy, but due to the unpredictability of
                    COVID, we cannot guarantee that the camp will be in-person. If we need to move to an online format, we will
                    notify all parents and give a full refund for those who are unwilling to attend the camp online.
                  </p>
                </div>
              </div>
            </div>
            <!-- End Single Faq -->
            <!-- Single Faq -->
            <div class="col-lg-6 col-md-10">
              <div class="d-flex mb-10 mb-lg-17" data-aos="fade-up" data-aos-duration="300" data-aos-once="true">
                <div class="mr-6">
                  <div class="bg-light-orange circle-28 text-white mt-1">
                    <i class="fa fa-question"></i>
                  </div>
                </div>
                <div class="">
                  <h4 class="font-size-7 mb-7">How much does it cost to attend?</h4>
                  <p class="font-size-5 pr-md-10 pr-lg-0 mb-0">
                    $350 early bird, $400 after May 10th. Tuition will pay for the fun labs we prepare every day, as well as help
                    us enroll in the iGEM competition in October. Tuition will not be refunded if our camp stays in-person. Camp
                    attendees who refer the camp to other students will get a $20 discount off of their tuition, so please spread
                    the word!
                  </p>
                </div>
              </div>
            </div>
            <!-- End Single Faq -->
            <!-- Single Faq -->
            <div class="col-lg-6 col-md-10">
              <div class="d-flex mb-10 mb-lg-17" data-aos="fade-up" data-aos-duration="600" data-aos-once="true">
                <div class="mr-6">
                  <div class="bg-light-orange circle-28 text-white mt-1">
                    <i class="fa fa-question"></i>
                  </div>
                </div>
                <div class="">
                  <h4 class="font-size-7 mb-7">Is lunch provided?</h4>
                  <p class="font-size-5 pr-md-10 pr-lg-0 mb-0">
                    Lunch is not included. Students should bring their own lunches daily, which can be eaten during the lunch break. Students may also bring a snack.
                  </p>
                </div>
              </div>
            </div>
            <!-- End Single Faq -->
          </div>
          <!-- Button  -->
          <!-- Button End -->
        </div>
      </div>
      <div class="case-study-area-l3 inner-service-01">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9">
              <div class="text-center mb-13 mb-lg-19">
                <h2 class="font-size-9 mb-0">Topics covered</h2>
              </div>
            </div>
          </div>
          <div class="row case-study-items-l3 justify-content-center">
            <div class="col-lg-5 col-md-6">
              <div class="image-content-box" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
                <div class="case-study-area-image image-hover-style-01 overflow-hidden">
                  <img class="w-100" src="/image/daily/day-1.jpg" alt="image" />
                </div>
                <div class="content">
                  <h4>Day One - Biology</h4>
                  <p>Lab: DNA Extraction</p>
                </div>
              </div>
              <div class="image-content-box" data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000">
                <div class="case-study-area-image image-hover-style-01 overflow-hidden">
                  <img class="w-100" src="/image/daily/day-2.jpg" alt="image" />
                </div>
                <div class="content">
                  <h4>Days Two and Three - Synthetic Biology</h4>
                  <p>Lab: Bacterial Transformation with GFP</p>
                </div>
              </div>
            </div>
            <div class="offset-lg-1 col-lg-6 col-md-6">
              <div class="image-content-box" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                <div class="case-study-area-image image-hover-style-01 overflow-hidden">
                  <img class="w-100" src="/image/daily/day-3.jpg" alt="image" />
                </div>
                <div class="content">
                  <h4>Day Four - Chemistry</h4>
                  <p>Lab: Reactions Lab (specifics TBD)</p>
                </div>
              </div>
              <div class="image-content-box" data-aos="fade-up" data-aos-delay="700" data-aos-duration="1000">
                <div class="case-study-area-image image-hover-style-01 overflow-hidden">
                  <img class="w-100" src="/image/daily/day-4.png" alt="image" />
                </div>
                <div class="content">
                  <h4>Day Five - Forensics</h4>
                  <p>Lab: Crime Scene Analysis Lab</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer Area -->

      <footer class="footer-area-l-12 position-relative">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-7 col-md-11 pl-lg-6" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
              <div class="row">
                <div class="col-sm-3 col-xs-6">
                  <div class="footer-widget widget2">
                    <p>Help menu</p>
                    <ul class="widget-links pl-0 list-unstyled">
                      <li><a href="/camp-info">Camp Info</a></li>
                      <li><a href="/about">About Us</a></li>
                      <li><a href="https://gofund.me/8b23fc16">Support</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <div class="footer-widget widget3">
                    <ul class="widget-links pl-0 list-unstyled">
                      <li><a href="mailto:ccaigem2022@gmail.com">Contact </a></li>
                      <li><a href="">Privacy Policy</a></li>
                      <li><a href="">Terms & Conditions</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-5 col-xs-6 pl-lg-0">
                  <div class="footer-widget widget4">
                    <p class="widget-title">General</p>
                    <ul class="widget-links pl-0 list-unstyled">
                      <li><a>&copy; CCA iGEM 2022.</a></li>
                      <li>
                        <a href="https://instagram.com/cca.igem" style="padding-right: 3px" target="_blank">
                          <i class="fa-brands fa-instagram"></i
                        ></a>
                        <a href="mailto:ccaigem2022@gmail.com" target="_blank"> <i class="fa-regular fa-envelope"></i> </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-8 col-sm-11" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
              <div class="footer-subs-form-l-12">
                <p>Join our mailing list</p>
                <h6>Get the latest updates and announcements about our camp. No spam in your inbox.</h6>
                <form name="mailing-list" netlify>
                  <div class="input-group">
                    <input name="email" type="text" class="form-control" placeholder="Enter your email address" aria-label="" />
                    <div class="input-group-append">
                      <button class="btn border-0 focus-reset" type="submit">
                        <i class="fas fa-angle-right text-white"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="/plugins/menu/menu.js" type="module"></script>
    <script src="/js/index.js" type="module"></script>
  </body>
</html>
